* {
  padding: 0px;
  margin: 0px;
}
#cart__background__main {
  height: 600px;
  background-color: black;
}
#cart_background {
  display: flex;
  justify-content: center;
  /* padding-top: 200px; */
  background-color: black;
}

.bbbbb {
  background-color: black;
  font-size: 30px;
  font-family: bold;
  color: white;
  /* display: flex;
  justify-content: center; */
  margin-left: 300px;
  padding-top: 100px;
}

/* hr {
  border-bottom: 3px solid white;
  width: 80%;
} */
#cart_in {
  width: 50%;
  height: 150px;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}
#cart_in img {
  float: left;
}
.cart_in_productname {
  float: left;
  padding-left: 30px;
}

.product__count {
  width: 50px;
  height: 25px;
  text-align: center;
  font-size: 25px;
  background-color: black;
  border: none;
}
.price__box {
  padding-left: 80px;
}
.to_bu {
  width: 300px;
  color: white;
  /* padding-right: 50px;
  padding-left: 50px; */
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 120px;
  padding-top: 30px;
  float: left;
}

.to_bn_sub1 {
  float: left;
  font-size: 20px;
}
.to_bn_sub2 {
  float: right;
  font-size: 20px;
}

.total__price__check {
  color: white;
  font-size: 20px;
}
.total__price__check1 {
  float: left;
}
.total__price__check2 {
  float: right;
}
.cart__buy__btn {
  float: right;
  width: 300px;
  height: 50px;
  background-color: #8858ed;
  color: white;
  margin-right: 260px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  border: white;
}
.cart__buy__btn:hover {
  color: #8858ed;
  background-color: white;
}
.ccaa {
  float: right;
  font-size: 20px;
  border: 1px solid black;
}
.ccaa > button {
  width: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
}
.ccaa > button:focus {
  color: yellow;
}

.ccaa1 {
  float: right;
  font-size: 20px;
  border: 1px solid white;
}
.ccaa1 > button {
  width: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
}
.ccaa1 > button:focus {
  color: yellow;
}
.add__add__add {
  list-style: none;
  color: #b29fdb;
  margin-left: 300px;
  background-color: black;
  border: none;
  font-size: 18px;
}
.add__add__add1 {
  list-style: none;
  color: #b29fdb;
  margin-left: 300px;
  background-color: black;
  border: none;
  font-size: 18px;
}

.mollu {
  border-bottom: 1px white solid;
  font-size: 12px;
}
.enter_a_promo_code {
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin-left: 300px;
  color: white;
  background-color: black;
  font-size: 15px;
}
.enter_a_promo_code1 {
  border: 1px solid white;
  width: 300px;
  height: 130px;
  margin-left: 300px;
  color: white;
  background-color: black;
  font-size: 15px;
}
.submit__hidden__button {
  width: 50px;
  height: 30px;
  color: white;
  background-color: black;
  font-size: 15px;
  border: 1px solid #d8d0eb;
}
