#contact-us__main {
  background-color: black;
  color: white;
}
#contact__container {
  padding: 20px 7%;
  display: flex;
  justify-content: space-between;
}

#contact__title {
  padding: 20px 7%;
  min-width: 550px;
}
#contact__title span{
  display: inline-block;
  padding-top: 50px;
  font-size: 70px;
  font-family: "Montserrat";
  font-weight: 700;
}

#contact__left {
  display: flex;
  min-width: 35%;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: var(--font-size);
  font-weight: 500;
}

#contact__subtitle {
  display: inline-block;
  padding-bottom: 70px;
  font-family: "Montserrat";
}

#contact__info {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  padding-bottom: 20px;
}

#contact__right {
  display: block;
  width: 50%;
  min-width: 30%;
  justify-content: center;
  background: transparent;
}

#contact__form {
  position: relative;
  left: 15%;
  top: 100px;
  width: 500px;
  min-width: 450px;
  padding-left: 5%;
}

.contact__label {
  text-align: left;
  display: inline-block;
  line-height: 1;
  padding-left: 30px;
  margin: 12px 0;
  word-break: break-all;
}

.contact__form__div {
  width: 50%;
  float: left;
  font-size: 15px;
  margin-bottom: 2px;
}

.contact__input {
  width: 101%;
  box-sizing: border-box;
  padding: 18px;
  border: 3px solid rgb(136, 88, 237);
  background-color: transparent;
  color: white;
}

.contact__input:focus,
.contact__input:hover,
#contact__message:focus,
#contact__message:hover {
  border: 3px solid white;
  background-color: rgb(136, 88, 237);
}

.contact__input::placeholder {
  color: white;
}

#contact__message {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
  display: block;
  box-sizing: border-box;
  border: 3px solid rgb(136, 88, 237);
  outline-color: transparent;
}

#contact__submit__div {
  width: 100%;
}

#contact__submit {
  background-color: rgb(136, 88, 237);
  border: 3px solid rgb(136, 88, 237);
  border-top: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat";
  width: 100%;
  height: 50px;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.5s ease-in-out;
}

#contact__submit:hover {
  font-size: 22px;
  transition: 0.5s ease-in-out;
}

/* --------FAQ 파트 ---------------- */

#contact__bottom {
  position: relative;
  margin-top: 100px;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(22,10,42);
}
#FAQ__col1 {
  display: inline-block;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 40px;
  margin:50px 0; 
}
.tab{
  width: 800px;
  align-items: left;
  margin-bottom: 50px;
}
.tab button{
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  padding: 5px 15px;
  cursor: pointer;
}
.tab button.active {
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgba(90, 72, 72, 0.3);
}
#FAQ__col3 {
  display: block;
  align-items: left;
  width: 800px;
  transition: 0.3s ease-in-out;
  margin-bottom: 100px;
}
.FAQ__Q{
  position: relative;
  padding: 30px 0;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid rgb(136, 88, 237);
  transition: 0.3s ease-in-out;
}
.FAQ__Q:hover{
  font-weight: 700;
}
.FAQ__Q .fa-chevron-down {
  position: absolute;
  right: 5px;
}
.FAQ__A{
  display: block;
  margin-top: 30px;
}
.FAQ__A ul{
  margin-top: 20px;
}
.sns-icons li{
  display: inline;
  font-size: 25px;
  margin-right: 15px;
}
.FAQ__tabcontent{
  display: none;
}
.FAQ__tabcontent.show {
  display: block;
}